body {
    background: #1a1a1a;
    color: white;
    background-color: #121212;
}

.main-card {
    background: #2a3a44;
    color: white;
    border-radius: 40px;
    text-align: center;
    max-width: 95vw;     /* Almost full width on phones */
    height:90vw;
    margin: 0 auto;
}

.navbar {
    background: #263238;
    width: 100%;
    height: 10%;
}

.icon-btn {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.icon-btn:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

